/* Reset some default margin and padding */
body, h1, ul {
  margin: 0;
  padding: 0;
}

/* Apply a background color and center content */
body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 22px;
}

/* Style the Pokedex container */
.Pokedex {
  text-align: center;
  margin: 20px 0;
}

.Pokedex h1 {
  font-size: 24px;
  color: #333;
}

#pokemon-info {
  list-style: none;
  padding: 10px 0; /* Add 10px padding from the upper border */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: fit-content;
  background-color: #f2f2f2;
}

.pokemon-details {
  background-color: #4caf50;
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
}
.pokemon-details img {
  display: block;
  margin: 0 auto; /* Center horizontally */
}


/* Style the Pokémon list */
.pokemon-list {
  list-style: none;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.pokemon-list li {
  flex-basis: calc(33.33% - 20px); /* Adjusted for padding */
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

/* Style the Pokémon buttons */
.pokemon-list button {
  padding: 10px 20px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

.pokemon-list button:hover {
  background-color: #ff9900;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .Pokedex h1 {
    font-size: 20px;
  }

  .pokemon-list button {
    padding: 8px 16px;
  }
}
